Source: ayatana-indicator-power
Section: gnome
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: cmake,
               libnotify-dev (>= 0.7.6),
               libglib2.0-dev (>= 2.36),
               libgudev-1.0-dev,
               python:any,
# for packaging
               debhelper (>= 9),
               intltool,
# for tests
               libgtest-dev,
               python3-dbusmock,
               dbus-test-runner,
               libdbustest1-dev,
# for systemd unit
               systemd,
Standards-Version: 3.9.8
Homepage: https://github.com/ArcticaProject/ayatana-indicator-power
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-power.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-power.git/

Package: ayatana-indicator-power
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ayatana-indicator-common,
         upower,
Recommends: unity-control-center | gnome-control-center (>= 3.1) | ubuntu-system-settings | switchboard-plug-power | xfce4-power-manager | mate-power-manager,
            mate-indicator-applet | xfce4-indicator-plugin,
Suggests: powerd,
          unity-system-compositor (>= 0.0.4),
Description: Ayatana Indicator showing power state.
 This indicator displays current power management information and gives 
 the user a way to access power management preferences.
