Source: indicator-power
Section: gnome
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               autopoint,
               intltool,
               libgtest-dev,
               libglib2.0-dev (>= 2.35.4),
Standards-Version: 3.9.2
Homepage: https://launchpad.net/indicator-power
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~indicator-applet-developers/indicator-power/trunk.13.04
Vcs-Browser: https://bazaar.launchpad.net/~indicator-applet-developers/indicator-power/trunk.13.04/files

Package: indicator-power
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         upower,
         gnome-control-center (>= 3.1),
Recommends: indicator-applet (>= 0.2) | indicator-renderer,
Description: Indicator showing power state.
 This indicator displays current power management information and gives 
 the user a way to access power management preferences.
