#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@

override_dh_install:
	find debian/ayatana-indicator-power -name \*.la -delete
	find debian/ayatana-indicator-power -name \*.a -delete
	dh_install --fail-missing
	mkdir -p debian/ayatana-indicator-power/usr/share/apport/package-hooks/
	cp debian/source_ayatana-indicator-power.py debian/ayatana-indicator-power/usr/share/apport/package-hooks/
